<main>
  <section class="login-container">
    <h1>Login</h1>
    <lucide-icon name="rocket" class="logo" [size]="20" />
    <p>RocketStore</p>
    <form [formGroup]="login" (submit)="onSubmit($event)">
      <div class="form-group">
        <label for="username">Username:</label>

        <input
          type="text"
          id="username"
          name="username"
          formControlName="username"
          placeholder="Username"
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Password:</label>

        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="Password"
          required
        />
      </div>

      <button type="submit" class="btn">Login</button>
    </form>
  </section>

  <section class="title-container">
    <lucide-icon name="rocket" class="logo" [size]="100" />
    <h1>RocketStore</h1>
  </section>
</main>
