<main>
  <section class="login-container">
    <div class="login-title">
      <h1>Login</h1>
    </div>

    <form [formGroup]="login" (submit)="onSubmit($event)" class="login-form">
      <div class="form-group">
        <label for="username">Username:</label>

        <input
          type="text"
          id="username"
          name="username"
          formControlName="username"
          placeholder="Username"
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Password:</label>

        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="Password"
          required
        />
      </div>

      <div class="login-button-container">
        <app-button type="submit" class="btn" [text]="'Login'" />
      </div>
    </form>

    <footer>
      <p>Don't have an account?</p>
      <a routerLink="/register">Register</a>
    </footer>
  </section>

  <section class="title-container">
    <lucide-icon name="rocket" class="logo" [size]="100" />
    <h1>RocketStore</h1>
  </section>
</main>
