<main>
  <div class="container">
    <div>
      <h1>Home</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, voluptate, quia quae voluptas quos
          exercitationem quod voluptatibus quas doloribus. Quisquam voluptatum,
          quibusdam, voluptate, quia quae voluptas quos exercitationem quod
          voluptatibus quas doloribus.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <a [routerLink]="['/about']">About</a>
  </div>
</main>
