.menu {
  display: flex;
  align-items: center;
  transition: background-color 0.15s ease-in-out;
  padding: 2.5px;
  cursor: pointer;
  border-radius: 2px;
}

.menu:hover {
  background-color: #efefef;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: -250px;
  bottom: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 2px 1px 1px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: left 0.3s ease-in-out;
}

.sidebar.active {
  left: 0;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  align-items: center;

  a {
    text-decoration: none;
    color: #555;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.15s ease-in-out;
    padding: 2.5px 25px;
    border-radius: 2px;
    justify-content: center;
  }

  a:hover {
    color: var(--primary-color);
    background-color: #efefef;
  }
}

.sidebar-close {
  margin: 10px 0 0 10px;
  display: flex;
  width: fit-content;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;

  .close-icon {
    font-size: 24px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sidebar-close:hover {
  background-color: #efefef;

  .close-icon {
    color: var(--primary-color);
  }
}
