<div class="topbar">
  <sidebar />

  <a [routerLink]="['/']" class="middle">
    <div class="topbar-middle">
      <div class="topbar-logo">
        <lucide-icon name="rocket" class="logo" [size]="35" />
      </div>

      <div class="middle">
        <p class="topbar-title">Rocket Project</p>
      </div>
    </div>
    <span></span>
  </a>

  <div class="topbar-right">
    <div class="topbar-icon-container">
      <div class="topbar-icon">
        <lucide-icon name="search" class="my-icon" />
      </div>
    </div>

    <div class="topbar-icon-container">
      <div class="topbar-icon">
        <lucide-icon name="bell" class="my-icon" />
        <span class="topbar-icon-badge">2</span>
      </div>
    </div>

    <div class="topbar-icon-container">
      <img src="assets/images/avatar.jpg" alt="avatar" class="topbar-avatar" />
    </div>
  </div>
</div>
