.topbar {
  background-color: #fff;
  height: 60px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #ebebeb;
}

.topbar-logo {
  height: auto;
  width: auto;

  .logo {
    color: var(--primary-color);
    display: flex;
  }
}

.topbar-title {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin: 0;
  transition: color 0.15s ease-in-out;
}

.topbar-middle {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
}

.middle {
  display: flex;
  align-items: center;
  flex-direction: column;

  span {
    background-color: #ebebeb;
    width: 0;
    height: 2px;
    transition: width 0.3s ease-in-out;
  }
}

.middle:hover {
  span {
    background-color: var(--primary-color);
    width: 200px;
    height: 2px;
    transition: width 0.3s ease-in-out;
    border-radius: 2px;
  }

  .topbar-title {
    color: var(--primary-color);
  }
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.topbar-icon {
  font-size: 24px;
  cursor: pointer;
}

.topbar-icon-container {
  position: relative;
  display: flex;
  align-items: center;
}

.my-icon {
  display: flex;
}

.topbar-icon-badge {
  position: absolute;
  top: -5px;
  right: 15px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbar-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
