<div class="topbar">
  <a [routerLink]="['/']">
    <div class="topbar__left">
      <div class="topbar__logo">
        <img src="favicon.ico" alt="logo" />
      </div>

      <p class="topbar__title">Angular Project</p>
    </div>
  </a>

  <div class="topbar__right">
    <div class="topbar__icon-container">
      <div class="topbar__icon">
        <lucide-icon name="search" class="my-icon" />
      </div>
    </div>

    <div class="topbar__icon-container">
      <div class="topbar__icon">
        <lucide-icon name="bell" class="my-icon" />
        <span class="topbar__icon-badge">2</span>
      </div>
    </div>

    <div class="topbar__icon-container">
      <img src="assets/images/avatar.jpg" alt="avatar" class="topbar__avatar" />
    </div>
  </div>
</div>
